<div id="inforta">
@if(ViewBag.Correcta){
    <h1>CORRECTO!</h1>
    <style>body{background-color:rgb(63, 104, 63);}</style>
    <img src="">
    <p>+10 Puntos!</p>
}
else{
    <h1>INCORRECTO!</h1>
    <style>body{background-color:rgb(227, 104, 59);}</style>
    <img src="">
    <p>Respuesta correcta: @ViewBag.RespuestaCorrecta</p>
}
</div>

<div>
    <p>Puntos: @ViewBag.Puntaje</p>
    <p>Usuario: @ViewBag.Username</p>
</div>

<a href='@Url.Action("Jugar")' id="boton" class="centrar">
    <button type="button" class="btn btn-outline-success">Siguiente pregunta</button>
</a>